.banner {
    background-color: #33ff7d;
    color: #0b0d23;
    margin: 80px;
    text-align: center;
    padding: 100px 0;
}

#image1 {
    height: auto;
    width: auto;

}


#humor {
color: #95237b;
font-size: 100px;
}

.bold {
    font-weight: 800px;
}

.song {
        background-color: #eda842;
        color: #0b0d23;
        margin: 80px;
        text-align: center;
        padding: 100px 0;
}

#quote {
    height: 450px;
    width: 700px;
    margin-left: 300px;
}